
<div id="game">

  <div class="side">
    <div class="logo">Underwater Adventure Rocket Bazooka Guys 2</div>

    <div class="leaderboard">
      <div class="playerCard {{player.state}}"
        ng-repeat="player in players.all | orderBy:'-wins'">
        <div class="name">{{player.name}}</div>
        <div class="avatarbg">
          <div class="avatar {{player.avatar}}"></div>
        </div>
        <div class="score"><div class="label">Points</div><div class="num">{{player.wins}}</div></div>
        <div class="status">
          <div class="skull"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">

    <div class="alerts">
      <span class="label">Bazooka NewsReel</span>
      <span class="alert">{{latestAlert}}</span>
    </div>

    <div id="board" keypress="keypress(e)" ng-click="test()" focus="!chatting">

      <h1 class="winner" ng-show="status.winner">{{status.winner}} Wins!</h1>

      <div class="player avatar {{player.avatar}}" 
           ng-repeat="player in players.all | filter:{state:'alive'}"
           ng-style="player | position"
           sprite-direction="player.direction"
           sprite-walking="{{player.x}} {{player.y}}"
          >

        <div class="taunt triangle-border left" ng-show="player.taunt">{{player.taunt}}</div>
        <div class="taunt triangle-border left" ng-show="chatting && isCurrentPlayer(player)">{{taunt}}</div>
      </div>

      <div class="missile {{missile.direction}}"
           ng-repeat="missile in missiles.all"
           ng-style="missile | position">
      </div>

      <div class="wall" 
           ng-repeat="wall in walls.all"
           ng-style="wall | position">
      </div>

    </div>
  </div>

  <div class="footer">
    <div class="version">v{{version}}</div>
    <div class="instructions">
      <li>Arrow keys to move
      <li>Space to fire
      <li>Enter, type a message, then Enter to send
      <li>If someone wins, the game restarts in 2 seconds.
    </div>
    <!-- can you detect what already had the focus? -->
    <div><input id="taunt" ng-model="taunt" focus="chatting" on-enter="sendTaunt()"></div>
  <div>

</div>
