<div id="identify">

  <div class="version">v{{version}}</div>

  <div class="menu {{intro}}">
    <div class="upgrade-link">
      <span ng-hide="players.isPaid" ><a class="upgrade-button" href="https://spb.io/s/osgtq3F3kS">Pay $1.00 to unlock all features!</a></span>
      <span ng-show="players.isPaid">Thank you for your support!</span>
    </div>

    <div class="avatarSelection">
      <div 
        ng-repeat="name in avatars"
        class="avatar {{name}}" 
        ng-class="{selected: isPlayerAvatar(name), locked: avatarIsLocked(name)}"
        ng-click="selectAvatar(name)"
      ><div ng-show="avatarIsLocked(name)"><img class="lock-image" src="/images/lock.png"></div>
      </div>
    </div>

    <div>
    </div>

    <div class="playerNameInput">
      <!--<input ng-model="playerName" placeholder="Your Name">-->
    </div>

    <div class="login">
      <a href="{{twitterAuthUrl}}"><img ng-hide="user.username" src="images/sign-in-with-twitter-gray.png"></a>
      <div ng-show="user.username" class="info">
        <span>{{user.username}}</span>
        <a ng-click="logout()">logout</a>
      </div>
    </div>
   
    <div>
      <button class="join" ng-click="join()" ng-disabled="!user.username">PLAY</button>
    </div>

    <div class="error" ng-show="error">{{error}}</div>

    <div class="leaderboard">
      <div class="playerCard {{player.state}}"
        ng-repeat="player in players.all | orderBy:'-wins'">
        <div class="name">{{player.name}}</div>
        <div class="avatarbg">
          <div class="avatar {{player.avatar}}"></div>
        </div>
        <div class="score"><div class="label">Points</div><div class="num">{{player.wins}}</div></div>
        <div class="status">
          <div class="skull"></div>
        </div>
      </div>
   </div>

    <div class="gameId">
      <input ng-model="gameId">
    </div>


  </div>

  <div class="water">
    <img 
      class="title {{intro}}" 
      src="/images/title.png">
  </div>

  <div class="hangout" ng-show="showHangoutButton">
  <a href="https://plus.google.com/hangouts/_?gid=377453918361" style="text-decoration:none;">
    <img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-60x230-normal.png"
      alt="Start a Hangout"
      style="border:0;width:230px;height:60px;"/>
  </a>
  </div>

</div>
