<h1>Message!: {{message}}</h1>
<div style="background-color:#FFF">
  <pre>{{person}}</pre>
  <div><input ng-model="person.name" placeholder="name"></div>
  <div><input ng-model="person.age" placeholder="20"></div>
  <div><button ng-click="save(person)">Save</button></div>

  <hr />

  <button ng-click="addPerson()">Add Person</button>

  <pre>{{people}}</pre>

  <div ng-repeat="person in people">
    <button ng-click="select(person)">select</button>
    <button ng-click="remove(person)">remove</button>
    <code>{{person}}</code>
  </div>

</div>
